<div>
    <div class="subPanelToolbar">
        <ul class="panelBtnBar">
            <li class="btn-header" ng-show="bizStatusDisplayModule == 'stats'">
                <a href="" ng-click="back()">
                    <i class="fa fa-hand-o-left"></i>
                </a>
            </li>
            <li class="btn-header" ng-show="bizStatusDisplayModule == 'topo'">
                <a href="" ng-click="backToBizStatusStats()">
                    <i class="fa fa-hand-o-left"></i>
                </a>
            </li>
            <li class="btn-header" ng-show="bizStatusDisplayModule == 'circuitMgmtAlarm' || bizStatusDisplayModule == 'circuitMgmtTopo'">
                <a href="" ng-click="backToCircuitMgmt()">
                    <i class="fa fa-hand-o-left"></i>
                </a>
            </li>
            <li class="btn-header" ng-show="bizStatusDisplayModule == 'topo'">
                <a href="" ng-click="changeBizStatusTopoPanel('siteTopo')">
                    <i class="fa fa-sitemap"></i>
                </a>
            </li>
            <li class="btn-header" ng-show="bizStatusDisplayModule == 'topo'">
                <a href="" ng-click="showBizStatusCircuit()">
                    <i class="fa fa-th-list"></i>
                </a>
            </li>
            <li class="btn-header" ng-show="bizStatusDisplayModule == 'topo'">
                <a href="" ng-click="showBizStatusAlarm()">
                    <i class="fa fa-bolt"></i>
                </a>
            </li>
            <li class="btn-header" ng-show="bizStatusDisplayModule == 'circuitMgmtTopo'">
                <a href="" ng-click="showChannelText()">
                    <i class="fa fa-info"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="customerGroupBizStatus">
        <div class="customerGroupBizStatusBody" ng-show="bizStatusDisplayModule == 'stats'">
            <div class="row" ng-repeat="row in bizStatusArray">
                <div class="col-md-3"
                     ng-repeat="bizStatusData in bizStatusDatas.slice(4*$index, 4*$index + 4)">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a href="" class="pull-right" ng-click="showBizStatusTopo(bizStatusData)">
                                <i class="fa fa-sitemap fa-lg"></i>
                            </a>

                            <div class="text-center">{{bizStatusData.name}}</div>
                        </div>
                        <div class="panel-body">
                            <div class="text-center">电路:{{bizStatusData.faultCirNum+bizStatusData.normalCirNum}}</div>
                            <div hc-pie class="bizStatusCircuitDonut" id={{bizStatusData.name+'-circuitDonut'}}
                                 height="132" items="bizStatusData.dountData"
                                 out-size="100%" inner-size="90%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="bizStatusDisplayModule == 'topo'">
            <div ng-show="bizStatusTopoDisplayModule == 'siteTopo'" biz-status-topo class="bizStatusTopo"
                 site-map-data="bizStatusTopoDatas" click-link-circuits="bizStatusClickCircuit.nos">

            </div>
            <div class="bizStatusTopoCircuit" ng-show="bizStatusTopoDisplayModule == 'circuit'">
                <table class="table table-bordered table-hover" ng-footable>
                    <thead>
                    <th data-sort="no" data-toggle="true">电路编码</th>
                    <th class="text-center">状态</th>
                    <th data-hide="phone" class="text-center">速率</th>
                    <th data-hide="phone" class="text-center">业务状态</th>
                    <th data-hide="phone" class="text-center">资源状态</th>
                    <th data-hide="phone" class="text-center">业务类型</th>
                    <th data-hide="all">Ａ端网元</th>
                    <th data-hide="all">Ａ端端口</th>
                    <th data-hide="all">Ｚ端网元</th>
                    <th data-hide="all">Ｚ端端口</th>
                    <th data-hide="all" class="text-center">长途编码</th>
                    <th data-hide="all" class="text-center">客户名称</th>
                    <th data-noexpand="true" data-hide="phone,tablet"></th>
                    </thead>
                    <tbody>
                    <tr ng-repeat-start="circuit in bizStatusTopoCircuits  | filter:bizStatusCircuitFilter | orderBy:sort:reverse">
                        <td>{{circuit.no}}</td>
                        <td class="text-center"><span class="label"
                                                      ng-class="circuit.fault?'label-danger':'label-info'">{{circuit.fault | circuitFaultFilter}}</span>
                        </td>
                        <td class="text-center">{{circuit.resRate}}</td>
                        <td class="text-center">{{circuit.bizStatus}}</td>
                        <td class="text-center">{{circuit.resStatus}}</td>
                        <td class="text-center">{{circuit.serviceType}}</td>
                        <td class="text-center">{{circuit.aMe}}</td>
                        <td class="text-center">{{circuit.aPort}}</td>
                        <td class="text-center">{{circuit.zMe}}</td>
                        <td class="text-center">{{circuit.zPort}}</td>
                        <td class="text-center">{{circuit.groupNo}}</td>
                        <td class="text-center">{{circuit.customer}}</td>
                        <td class="text-center">
                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-primary"
                                        ng-click="showCirTextRoute($event,circuit)"><i class="fa fa-info"></i></button>
                                <button type="button" class="btn btn-primary" ng-click="showCirRoute($event,circuit)"><i
                                        class="fa fa-sitemap"></i></button>
                                <button type="button" class="btn btn-primary" ng-click="showCirFault($event,circuit)"><i
                                        class="fa fa-bolt"></i></button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="bizStatusTopoAlarm" ng-show="bizStatusTopoDisplayModule == 'alarm'">
                <table class="table table-bordered table-hover" ng-footable>
                    <thead>
                    <th data-sort="name" data-toggle="true">告警名称</th>
                    <th data-sort="meCreateTime" class="text-center">发生时间</th>
                    <th data-sort="severity" data-hide="phone" class="text-center">级别</th>
                    <th data-hide="phone" class="text-center">网元</th>
                    <th data-hide="phone" class="text-center">故障定位</th>
                    <th data-hide="all" class="text-center">影响电路</th>
                    <th data-hide="all" class="text-center">影响大客户</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat-start="alarm in (filteredBizStatusTopoAlarms = (bizStatusTopoAlarms | filter: bizStatusAlarmFilter))">
                        <td>{{alarm.name}}</td>
                        <td class="text-center">{{alarm.meCreateTime | date:"yyyy-MM-dd HH:mm:ss"}}</td>
                        <td class="text-center">{{alarm.severity}}</td>
                        <td class="text-center">{{alarm.meName}}</td>
                        <td class="text-center">{{alarm.deviceName}}</td>
                        <td class="text-center">{{alarm.circuits}}</td>
                        <td class="text-center">{{alarm.customerGroups}}</td>
                    </tr>
                    <tr class="items-null"
                        ng-show="(firstQueryCircuitByBizStatus && !bizStatusTopoAlarms.length) || (bizStatusTopoAlarms.length && !filteredBizStatusTopoAlarms.length)">
                        <td align="center" colspan="{{$columns.length}}">无记录</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="bizStatusCirMgmtAlarm" ng-show="bizStatusDisplayModule == 'circuitMgmtAlarm'">
            <table class="table table-bordered table-hover" ng-footable>
                <thead>
                <th data-sort="name" data-toggle="true">告警名称</th>
                <th data-sort="meCreateTime" class="text-center">发生时间</th>
                <th data-sort="severity" data-hide="phone" class="text-center">级别</th>
                <th data-hide="phone" class="text-center">网元</th>
                <th data-hide="phone" class="text-center">故障定位</th>
                <th data-hide="all" class="text-center">影响电路</th>
                <th data-hide="all" class="text-center">影响大客户</th>
                </thead>
                <tbody>
                <tr ng-repeat-start="alarm in bizStatusCirMgmtAlarms">
                    <td>{{alarm.name}}</td>
                    <td class="text-center">{{alarm.meCreateTime | date:"yyyy-MM-dd HH:mm:ss"}}</td>
                    <td class="text-center">{{alarm.severity}}</td>
                    <td class="text-center">{{alarm.meName}}</td>
                    <td class="text-center">{{alarm.deviceName}}</td>
                    <td class="text-center">{{alarm.circuits}}</td>
                    <td class="text-center">{{alarm.customerGroups}}</td>
                </tr>
                <tr class="items-null"
                    ng-show="!bizStatusCirMgmtAlarms.length">
                    <td align="center" colspan="{{$columns.length}}">无记录</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div ng-show="bizStatusDisplayModule == 'circuitMgmtTopo'" circuit-topo class="bizStatusCirMgmtTopo"
             route-data="circuitRoute" circuit="selectCircuit" show-text="isShowChannelText">
        </div>
    </div>
    <div>
        <script type="text/ng-template" id="bizStatusCirTextRoute.html">
            <div class="modal-header">
                <button type="button" class="close" ng-click="ok()">&times;</button>
                <h3 class="modal-title">文本路由</h3>
            </div>
            <div class="modal-body">
                <div ng-bind-html="circuitTextRoute"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">关闭</button>
            </div>
        </script>
    </div>
</div>
