<div>
    <div class="subPanelToolbar">
        <ul class="panelBtnBar">
            <li class="btn-header">
                <a href="" ng-click="back()">
                    <i class="fa fa-hand-o-left"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="customerGroupBizStatus">
        <div class="customerGroupBizStatusBody" ng-show="bizStatusModule == 'bizStatusPanel'">
            <div class="row" ng-repeat="row in bizStatusArray">
                <div class="col-md-3"
                     ng-repeat="bizStatusData in bizStatusDatas.slice(4*$index, 4*$index + 4)">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a href="" class="pull-right" ng-click="showBizStatusTopo(bizStatusData)">
                                <i class="fa fa-sitemap fa-lg"></i>
                            </a>
                            <div class="text-center">{{bizStatusData.type}}</div>
                        </div>
                        <div class="panel-body">
                            <div class="text-center">电路:{{bizStatusData.circuitNum}}</div>
                            <div hc-pie class="bizStatusCircuitDonut" id={{bizStatusData.type+'-circuitDonut'}} height="132" items="bizStatusData.dountData"
                                 out-size="100%" inner-size="90%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bizStatusTopo" ng-show="bizStatusModule == 'bizStatusTopo'">
            11111111111111111<br>111111<br>1111<br>2222222
        </div>
    </div>
</div>
