<div class="cusFilePanel" ng-if="cusFileDisplayModule == 'table'">
    <div class="subPanelToolbar">
        <ul class="panelBtnBar">
            <li class="btn-header">
                <a href="" ng-click="back()">
                    <i class="fa fa-hand-o-left"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="cusFilePanelTable">
        <div class="row">
            <div class="col-md-4"
                 ng-repeat="cusFile in cusFiles">
                <div class="panel panel-default" ng-click="showCusFile(cusFile)">
                    <div class="panel-heading">
                        <div class="panel-toolbar">
                            <a href="" ng-click="downloadCusFile(cusFile,$event)">
                                <i class="fa fa-download"></i>
                            </a>
                        </div>
                        <h5 class="panel-title">
                            <small>网络运行报告</small>
                        </h5>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">文&nbsp;件&nbsp;名&nbsp;:</label>
                                <div class="col-sm-7">
                                    <p class="form-control-static">{{cusFile.name}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">上传时间:</label>
                                <div class="col-sm-7">
                                    <p class="form-control-static">{{cusFile.takeTime | date:"yyyy-MM-dd HH:mm:ss"}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">同步时间:</label>
                                <div class="col-sm-7">
                                    <p class="form-control-static">{{cusFile.syncTime | date:"yyyy-MM-dd HH:mm:ss"}}</p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="cusFilePanel" ng-if="cusFileDisplayModule == 'file'">
    <ng-pdf
            pdf-url="pdfUrl"
            on-go-back="goBackCusFileTable()"
            on-download="download()">
    </ng-pdf>
</div>