<div class="customerTopo" ng-controller="customerTopoCtrl">
    <div class="customerGroupsPanel" ng-show="customerGroupsView">
        <div class="row" ng-repeat="row in customerGroupsArray">
            <div class="col-md-3"
                 ng-repeat="customerGroup in customerGroups.slice(4*$index, 4*$index + 4) | filter:customerGroupCriteria">
                <div ng-click="singleCustomerGroup(customerGroup)">
                    <div class="databox radius-bordered">
                        <div class="tiles-body-left">
                            <rating ng-model="customerGroup.rate" max="customerGroupRateMax" readonly="true"></rating>
                            <span class="tiles-body-left-bottom">{{customerGroup.profession}}</span>
                        </div>

                        <span class="tiles-body-right bordered">{{customerGroup.name}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="basicInfoView">
        <ng-include src="'app/components/customerTopo/basicInfoView.html'"></ng-include>
    </div>
    <div ng-if="displayModule == 'cusResourceFile'">
        <ng-include src="'app/components/customerTopo/cusResourceFileView.html'"></ng-include>
    </div>
    <ng-include src="'app/components/customerTopo/checkServiceView.html'"
                ng-show="displayModule == 'checkService'"></ng-include>
    <div ng-if="displayModule == 'sla'">
        <ng-include src="'app/components/customerTopo/slaView.html'"></ng-include>
    </div>
    <div ng-if="displayModule == 'netOps'">
        <ng-include src="'app/components/customerTopo/netOpsView.html'"></ng-include>
    </div>
    <div ng-if="displayModule == 'serviceMeeting'">
        <ng-include src="'app/components/customerTopo/serviceMeetingView.html'"></ng-include>
    </div>
    <div ng-if="displayModule == 'serviceScore'">
        <ng-include src="'app/components/customerTopo/serviceScoreView.html'"></ng-include>
    </div>
    <div ng-if="displayModule == 'bizStatus'">
        <ng-include src="'app/components/customerTopo/bizStatusView.html'"></ng-include>
    </div>
</div>