.customerTopo .circle-container {
    position: relative;
    width: 20em;
    height: 20em;
    padding: 2.8em;
    border: dashed 1px;
    border-radius: 50%;
    margin: 3em auto 0;
}

.backToCustomerGroupsView {
    position: fixed;
    left: 20px;
    top: 95px;
    z-index: 1001;
    width: 36px;
    height: 36px;
    background: #72a7d3;
    font-size: 16px;
    text-align: center;
    line-height: 35px;
    border: 3px;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.25s linear;
}

.backToCustomerGroupsView:hover {
    text-decoration: none;
    background: #5b99cb;
}

.backToCustomerGroupsView i {
    color: #fff;
}

@media (min-width: 768px) {
    .customerTopo .circle-container {
        width: 24em;
        height: 24em;
    }

    .customerTopo .circle-container {
       margin: 8em auto 0;
    }

    .backToCustomerGroupsView {
        top:50px;
    }
}

.customerTopo .circle-container .center {
    display: block;
    overflow: hidden;
    position: absolute;
    margin: -2em;
    top: 30%;
    left: 24%;
    color: #585858;
}

@media (min-width: 768px) {
    .customerTopo .circle-container .center {
        display: block;
        overflow: hidden;
        position: absolute;
        margin: -2em;
        top: 30%;
        left: 28%;
        color: #585858;
    }
}

.customerTopo .center  img {
    display: block;
    margin: 0 auto;
}

.customerTopo .center figcaption {
    text-align: center;
    padding-top: 1.2em;
}

.customerTopo .small-circle {
    display: table;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4.2em;
    height: 4.2em;
    margin: -2em;
    border-radius: 50%;
    box-shadow: 2px 2px 6px #aeaeae;
    background: #72a7d3;
}

.customerTopo .small-circle a {
    text-decoration: none;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #fff;
}

.customerTopo .small-circle:hover{
     background: #5b99cb;
}

.deg0 {
    animation-name: deg0;
    -webkit-animation-name: deg0;
    -moz-animation-name: deg0;
    -ms-animation-name: deg0;
    -o-animation-name: deg0;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -ms-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
}

@keyframes deg0 {
    0% {  opacity: 0; }
    50% { opacity: 0.5 ; transform: translate(5em); }
    100% { opacity: 1; transform: translate(10em); }
}

@-webkit-keyframes deg0 {
    0% {  opacity: 0; }
    50% { opacity: 0.5 ; -webkit-transform: translate(5em); }
    100% { opacity: 1; -webkit-transform: translate(10em); }
}

@-moz-keyframes deg0 {
    0% {  opacity: 0; }
    50% { opacity: 0.5 ; -moz-transform: translate(5em); }
    75%, 100% { opacity: 1; -moz-transform: translate(10em); }
}

@-ms-keyframes deg0 {
    0% {  opacity: 0; }
    50% { opacity: 0.5 ; -ms-transform: translate(5em); }
    75%, 100% { opacity: 1; -ms-transform: translate(12em); }
}

@-o-keyframes deg0 {
    0% {  opacity: 0; }
    50% { opacity: 0.5 ; -o-transform: translate(5em); }
    75%, 100% { opacity: 1; -o-transform: translate(10em); }
}

@media (min-width: 768px) {
    @keyframes deg0 {
        0% {  opacity: 0; }
        50% { opacity: 0.5 ; transform: translate(6em); }
        100% { opacity: 1; transform: translate(12em); }
    }

    @-webkit-keyframes deg0 {
        0% {  opacity: 0; }
        50% { opacity: 0.5 ; -webkit-transform: translate(6em); }
        100% { opacity: 1; -webkit-transform: translate(12em); }
    }

    @-moz-keyframes deg0 {
        0% {  opacity: 0; }
        50% { opacity: 0.5 ; -moz-transform: translate(6em); }
        75%, 100% { opacity: 1; -moz-transform: translate(12em); }
    }

    @-ms-keyframes deg0 {
        0% {  opacity: 0; }
        50% { opacity: 0.5 ; -ms-transform: translate(6em); }
        75%, 100% { opacity: 1; -ms-transform: translate(12em); }
    }

    @-o-keyframes deg0 {
        0% {  opacity: 0; }
        50% { opacity: 0.5 ; -o-transform: translate(6em); }
        75%, 100% { opacity: 1; -o-transform: translate(12em); }
    }
}

.deg45 {
    animation-name: deg45;
    -webkit-animation-name: deg45;
    -moz-animation-name: deg45;
    -ms-animation-name: deg45;
    -o-animation-name: deg45;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -ms-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
}

@keyframes deg45 {
    0% {  opacity: 0; transform: rotate(45deg);}
    50% { opacity: 0.5 ; transform: rotate(45deg) translate(10em); }
    100% { opacity: 1; transform: rotate(45deg) translate(10em) rotate(-45deg);}
}

@-webkit-keyframes deg45 {
    0% {  opacity: 0; -webkit-transform: rotate(45deg);}
    50% { opacity: 0.5 ; -webkit-transform: rotate(45deg) translate(10em); }
    100% { opacity: 1; -webkit-transform: rotate(45deg) translate(10em) rotate(-45deg);}
}

@-moz-keyframes deg45 {
    0% {  opacity: 0; -moz-transform: rotate(45deg);}
    50% { opacity: 0.5 ; -moz-transform: rotate(45deg) translate(10em); }
    100% { opacity: 1; -moz-transform: rotate(45deg) translate(10em) rotate(-45deg);}
}

@-ms-keyframes deg45 {
    0% {  opacity: 0; -ms-transform: rotate(45deg);}
    50% { opacity: 0.5 ; -ms-transform: rotate(45deg) translate(12em); }
    100% { opacity: 1; -ms-transform: rotate(45deg) translate(12em) rotate(-45deg);}
}

@-o-keyframes deg45 {
    0% {  opacity: 0; -o-transform: rotate(45deg);}
    50% { opacity: 0.5 ; -o-transform:rotate(45deg) translate(10em); }
    100% { opacity: 1; -o-transform: rotate(45deg) translate(10em) rotate(-45deg);}
}

@media (min-width: 768px) {
    @keyframes deg45 {
        0% {  opacity: 0; transform: rotate(45deg);}
        50% { opacity: 0.5 ; transform: rotate(45deg) translate(12em); }
        100% { opacity: 1; transform: rotate(45deg) translate(12em) rotate(-45deg);}
    }

    @-webkit-keyframes deg45 {
        0% {  opacity: 0; -webkit-transform: rotate(45deg);}
        50% { opacity: 0.5 ; -webkit-transform: rotate(45deg) translate(12em); }
        100% { opacity: 1; -webkit-transform: rotate(45deg) translate(12em) rotate(-45deg);}
    }

    @-moz-keyframes deg45 {
        0% {  opacity: 0; -moz-transform: rotate(45deg);}
        50% { opacity: 0.5 ; -moz-transform: rotate(45deg) translate(12em); }
        100% { opacity: 1; -moz-transform: rotate(45deg) translate(12em) rotate(-45deg);}
    }

    @-ms-keyframes deg45 {
        0% {  opacity: 0; -ms-transform: rotate(45deg);}
        50% { opacity: 0.5 ; -ms-transform: rotate(45deg) translate(12em); }
        100% { opacity: 1; -ms-transform: rotate(45deg) translate(12em) rotate(-45deg);}
    }

    @-o-keyframes deg45 {
        0% {  opacity: 0; -o-transform: rotate(45deg);}
        50% { opacity: 0.5 ; -o-transform:rotate(45deg) translate(12em); }
        100% { opacity: 1; -o-transform: rotate(45deg) translate(12em) rotate(-45deg);}
    }
}

.deg135 {
    animation-name: deg135;
    -webkit-animation-name: deg135;
    -moz-animation-name: deg135;
    -ms-animation-name: deg135;
    -o-animation-name: deg135;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -ms-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
}

@keyframes deg135 {
    0% {  opacity: 0; transform: rotate(135deg);}
    50% { opacity: 0.5 ; transform: rotate(135deg) translate(10em); }
    100% { opacity: 1; transform: rotate(135deg) translate(10em) rotate(-135deg);}
}

@-webkit-keyframes deg135 {
    0% {  opacity: 0; -webkit-transform: rotate(135deg);}
    50% { opacity: 0.5 ; -webkit-transform: rotate(135deg) translate(10em); }
    100% { opacity: 1; -webkit-transform: rotate(135deg) translate(10em) rotate(-135deg);}
}

@-moz-keyframes deg135 {
    0% {  opacity: 0; -moz-transform: rotate(135deg);}
    50% { opacity: 0.5 ; -moz-transform: rotate(135deg) translate(10em); }
    100% { opacity: 1; -moz-transform: rotate(135deg) translate(10em) rotate(-135deg);}
}

@-ms-keyframes deg135 {
    0% {  opacity: 0; -ms-transform: rotate(135deg);}
    50% { opacity: 0.5 ; -ms-transform: rotate(135deg) translate(12em); }
    100% { opacity: 1; -ms-transform: rotate(135deg) translate(12em) rotate(-135deg);}
}

@-o-keyframes deg135 {
    0% {  opacity: 0; -o-transform: rotate(135deg);}
    50% { opacity: 0.5 ; -o-transform:rotate(135deg) translate(10em); }
    100% { opacity: 1; -o-transform: rotate(135deg) translate(10em) rotate(-135deg);}
}

@media (min-width: 768px) {
    @keyframes deg135 {
        0% {  opacity: 0; transform: rotate(135deg);}
        50% { opacity: 0.5 ; transform: rotate(135deg) translate(12em); }
        100% { opacity: 1; transform: rotate(135deg) translate(12em) rotate(-135deg);}
    }

    @-webkit-keyframes deg135 {
        0% {  opacity: 0; -webkit-transform: rotate(135deg);}
        50% { opacity: 0.5 ; -webkit-transform: rotate(135deg) translate(12em); }
        100% { opacity: 1; -webkit-transform: rotate(135deg) translate(12em) rotate(-135deg);}
    }

    @-moz-keyframes deg135 {
        0% {  opacity: 0; -moz-transform: rotate(135deg);}
        50% { opacity: 0.5 ; -moz-transform: rotate(135deg) translate(12em); }
        100% { opacity: 1; -moz-transform: rotate(135deg) translate(12em) rotate(-135deg);}
    }

    @-ms-keyframes deg135 {
        0% {  opacity: 0; -ms-transform: rotate(135deg);}
        50% { opacity: 0.5 ; -ms-transform: rotate(135deg) translate(12em); }
        100% { opacity: 1; -ms-transform: rotate(135deg) translate(12em) rotate(-135deg);}
    }

    @-o-keyframes deg135 {
        0% {  opacity: 0; -o-transform: rotate(135deg);}
        50% { opacity: 0.5 ; -o-transform:rotate(135deg) translate(12em); }
        100% { opacity: 1; -o-transform: rotate(135deg) translate(12em) rotate(-135deg);}
    }
}

.deg180 {
    animation-name: deg180;
    -webkit-animation-name: deg180;
    -moz-animation-name: deg180;
    -ms-animation-name: deg180;
    -o-animation-name: deg180;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -ms-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
}

@keyframes deg180 {
    0% {  opacity: 0; }
    50% { opacity: 0.5 ; transform: translate(-5em); }
    100% { opacity: 1; transform: translate(-10em); }
}

@-webkit-keyframes deg180 {
    0% {  opacity: 0; }
    50% { opacity: 0.5 ; -webkit-transform: translate(-5em); }
    100% { opacity: 1; -webkit-transform: translate(-10em); }
}

@-moz-keyframes deg180 {
    0% {  opacity: 0; }
    50% { opacity: 0.5 ; -moz-transform: translate(-5em); }
    75%, 100% { opacity: 1; -moz-transform: translate(-10em); }
}

@-ms-keyframes deg180 {
    0% {  opacity: 0; }
    50% { opacity: 0.5 ; -ms-transform: translate(-5em); }
    75%, 100% { opacity: 1; -ms-transform: translate(-12em); }
}

@-o-keyframes deg180 {
    0% {  opacity: 0; }
    50% { opacity: 0.5 ; -o-transform: translate(-5em); }
    75%, 100% { opacity: 1; -o-transform: translate(-10em); }
}

@media (min-width: 768px) {
    @keyframes deg180 {
        0% {  opacity: 0; }
        50% { opacity: 0.5 ; transform: translate(-6em); }
        100% { opacity: 1; transform: translate(-12em); }
    }

    @-webkit-keyframes deg180 {
        0% {  opacity: 0; }
        50% { opacity: 0.5 ; -webkit-transform: translate(-6em); }
        100% { opacity: 1; -webkit-transform: translate(-12em); }
    }

    @-moz-keyframes deg180 {
        0% {  opacity: 0; }
        50% { opacity: 0.5 ; -moz-transform: translate(-6em); }
        75%, 100% { opacity: 1; -moz-transform: translate(-12em); }
    }

    @-ms-keyframes deg180 {
        0% {  opacity: 0; }
        50% { opacity: 0.5 ; -ms-transform: translate(-6em); }
        75%, 100% { opacity: 1; -ms-transform: translate(-12em); }
    }

    @-o-keyframes deg180 {
        0% {  opacity: 0; }
        50% { opacity: 0.5 ; -o-transform: translate(-6em); }
        75%, 100% { opacity: 1; -o-transform: translate(-12em); }
    }
}

.deg225 {
    animation-name: deg225;
    -webkit-animation-name: deg225;
    -moz-animation-name: deg225;
    -ms-animation-name: deg225;
    -o-animation-name: deg225;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -ms-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
}

@keyframes deg225 {
    0% {  opacity: 0; transform: rotate(225deg);}
    50% { opacity: 0.5 ; transform: rotate(225deg) translate(10em); }
    100% { opacity: 1; transform: rotate(225deg) translate(10em) rotate(-225deg);}
}

@-webkit-keyframes deg225 {
    0% {  opacity: 0; -webkit-transform: rotate(225deg);}
    50% { opacity: 0.5 ; -webkit-transform: rotate(225deg) translate(10em); }
    100% { opacity: 1; -webkit-transform: rotate(225deg) translate(10em) rotate(-225deg);}
}

@-moz-keyframes deg225 {
    0% {  opacity: 0; -moz-transform: rotate(225deg);}
    50% { opacity: 0.5 ; -moz-transform: rotate(225deg) translate(10em); }
    100% { opacity: 1; -moz-transform: rotate(225deg) translate(10em) rotate(-225deg);}
}

@-ms-keyframes deg225 {
    0% {  opacity: 0; -ms-transform: rotate(225deg);}
    50% { opacity: 0.5 ; -ms-transform: rotate(225deg) translate(12em); }
    100% { opacity: 1; -ms-transform: rotate(225deg) translate(12em) rotate(-225deg);}
}

@-o-keyframes deg225 {
    0% {  opacity: 0; -o-transform: rotate(225deg);}
    50% { opacity: 0.5 ; -o-transform:rotate(225deg) translate(10em); }
    100% { opacity: 1; -o-transform: rotate(225deg) translate(10em) rotate(-225deg);}
}

@media (min-width: 768px) {
    @keyframes deg225 {
        0% {  opacity: 0; transform: rotate(225deg);}
        50% { opacity: 0.5 ; transform: rotate(225deg) translate(12em); }
        100% { opacity: 1; transform: rotate(225deg) translate(12em) rotate(-225deg);}
    }

    @-webkit-keyframes deg225 {
        0% {  opacity: 0; -webkit-transform: rotate(225deg);}
        50% { opacity: 0.5 ; -webkit-transform: rotate(225deg) translate(12em); }
        100% { opacity: 1; -webkit-transform: rotate(225deg) translate(12em) rotate(-225deg);}
    }

    @-moz-keyframes deg225 {
        0% {  opacity: 0; -moz-transform: rotate(225deg);}
        50% { opacity: 0.5 ; -moz-transform: rotate(225deg) translate(12em); }
        100% { opacity: 1; -moz-transform: rotate(225deg) translate(12em) rotate(-225deg);}
    }

    @-ms-keyframes deg225 {
        0% {  opacity: 0; -ms-transform: rotate(225deg);}
        50% { opacity: 0.5 ; -ms-transform: rotate(225deg) translate(12em); }
        100% { opacity: 1; -ms-transform: rotate(225deg) translate(12em) rotate(-225deg);}
    }

    @-o-keyframes deg225 {
        0% {  opacity: 0; -o-transform: rotate(225deg);}
        50% { opacity: 0.5 ; -o-transform:rotate(225deg) translate(12em); }
        100% { opacity: 1; -o-transform: rotate(225deg) translate(12em) rotate(225deg);}
    }
}

.deg270 {
    animation-name: deg270;
    -webkit-animation-name: deg270;
    -moz-animation-name: deg270;
    -ms-animation-name: deg270;
    -o-animation-name: deg270;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -ms-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
}

@keyframes deg270 {
    0% {  opacity: 0; transform: rotate(270deg);}
    50% { opacity: 0.5 ; transform: rotate(270deg) translate(10em); }
    100% { opacity: 1; transform: rotate(270deg) translate(10em) rotate(-270deg);}
}

@-webkit-keyframes deg270 {
    0% {  opacity: 0; -webkit-transform: rotate(270deg);}
    50% { opacity: 0.5 ; -webkit-transform: rotate(270deg) translate(10em); }
    100% { opacity: 1; -webkit-transform: rotate(270deg) translate(10em) rotate(-270deg);}
}

@-moz-keyframes deg270 {
    0% {  opacity: 0; -moz-transform: rotate(270deg);}
    50% { opacity: 0.5 ; -moz-transform: rotate(270deg) translate(10em); }
    100% { opacity: 1; -moz-transform: rotate(270deg) translate(10em) rotate(-270deg);}
}

@-ms-keyframes deg270 {
    0% {  opacity: 0; -ms-transform: rotate(270deg);}
    50% { opacity: 0.5 ; -ms-transform: rotate(270deg) translate(12em); }
    100% { opacity: 1; -ms-transform: rotate(270deg) translate(12em) rotate(-270deg);}
}

@-o-keyframes deg270 {
    0% {  opacity: 0; -o-transform: rotate(270deg);}
    50% { opacity: 0.5 ; -o-transform:rotate(270deg) translate(10em); }
    100% { opacity: 1; -o-transform: rotate(270deg) translate(10em) rotate(-270deg);}
}

@media (min-width: 768px) {
    @keyframes deg270 {
        0% {  opacity: 0; transform: rotate(270deg);}
        50% { opacity: 0.5 ; transform: rotate(270deg) translate(12em); }
        100% { opacity: 1; transform: rotate(270deg) translate(12em) rotate(-270deg);}
    }

    @-webkit-keyframes deg270 {
        0% {  opacity: 0; -webkit-transform: rotate(270deg);}
        50% { opacity: 0.5 ; -webkit-transform: rotate(270deg) translate(12em); }
        100% { opacity: 1; -webkit-transform: rotate(270deg) translate(12em) rotate(-270deg);}
    }

    @-moz-keyframes deg270 {
        0% {  opacity: 0; -moz-transform: rotate(270deg);}
        50% { opacity: 0.5 ; -moz-transform: rotate(270deg) translate(12em); }
        100% { opacity: 1; -moz-transform: rotate(270deg) translate(12em) rotate(-270deg);}
    }

    @-ms-keyframes deg270 {
        0% {  opacity: 0; -ms-transform: rotate(270deg);}
        50% { opacity: 0.5 ; -ms-transform: rotate(270deg) translate(12em); }
        100% { opacity: 1; -ms-transform: rotate(270deg) translate(12em) rotate(-270deg);}
    }

    @-o-keyframes deg270 {
        0% {  opacity: 0; -o-transform: rotate(270deg);}
        50% { opacity: 0.5 ; -o-transform:rotate(270deg) translate(12em); }
        100% { opacity: 1; -o-transform: rotate(270deg) translate(12em) rotate(-270deg);}
    }
}

.deg315 {
    animation-name: deg315;
    -webkit-animation-name: deg315;
    -moz-animation-name: deg315;
    -ms-animation-name: deg315;
    -o-animation-name: deg315;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -ms-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
}

@keyframes deg315 {
    0% {  opacity: 0; transform: rotate(315deg);}
    50% { opacity: 0.5 ; transform: rotate(315deg) translate(10em); }
    100% { opacity: 1; transform: rotate(315deg) translate(10em) rotate(-315deg);}
}

@-webkit-keyframes deg315 {
    0% {  opacity: 0; -webkit-transform: rotate(315deg);}
    50% { opacity: 0.5 ; -webkit-transform: rotate(315deg) translate(10em); }
    100% { opacity: 1; -webkit-transform: rotate(315deg) translate(10em) rotate(-315deg);}
}

@-moz-keyframes deg315 {
    0% {  opacity: 0; -moz-transform: rotate(315deg);}
    50% { opacity: 0.5 ; -moz-transform: rotate(315deg) translate(10em); }
    100% { opacity: 1; -moz-transform: rotate(315deg) translate(10em) rotate(-315deg);}
}

@-ms-keyframes deg315 {
    0% {  opacity: 0; -ms-transform: rotate(315deg);}
    50% { opacity: 0.5 ; -ms-transform: rotate(315deg) translate(12em); }
    100% { opacity: 1; -ms-transform: rotate(315deg) translate(12em) rotate(-315deg);}
}

@-o-keyframes deg315 {
    0% {  opacity: 0; -o-transform: rotate(315deg);}
    50% { opacity: 0.5 ; -o-transform:rotate(315deg) translate(10em); }
    100% { opacity: 1; -o-transform: rotate(315deg) translate(10em) rotate(-315deg);}
}

@media (min-width: 768px) {
    @keyframes deg315 {
        0% {  opacity: 0; transform: rotate(315deg);}
        50% { opacity: 0.5 ; transform: rotate(315deg) translate(12em); }
        100% { opacity: 1; transform: rotate(315deg) translate(12em) rotate(-315deg);}
    }

    @-webkit-keyframes deg315 {
        0% {  opacity: 0; -webkit-transform: rotate(315deg);}
        50% { opacity: 0.5 ; -webkit-transform: rotate(315deg) translate(12em); }
        100% { opacity: 1; -webkit-transform: rotate(315deg) translate(12em) rotate(-315deg);}
    }

    @-moz-keyframes deg315 {
        0% {  opacity: 0; -moz-transform: rotate(315deg);}
        50% { opacity: 0.5 ; -moz-transform: rotate(315deg) translate(12em); }
        100% { opacity: 1; -moz-transform: rotate(315deg) translate(12em) rotate(-315deg);}
    }

    @-ms-keyframes deg315 {
        0% {  opacity: 0; -ms-transform: rotate(315deg);}
        50% { opacity: 0.5 ; -ms-transform: rotate(315deg) translate(12em); }
        100% { opacity: 1; -ms-transform: rotate(315deg) translate(12em) rotate(-315deg);}
    }

    @-o-keyframes deg315 {
        0% {  opacity: 0; -o-transform: rotate(315deg);}
        50% { opacity: 0.5 ; -o-transform:rotate(315deg) translate(12em); }
        100% { opacity: 1; -o-transform: rotate(315deg) translate(12em) rotate(-315deg);}
    }
}

.customerTopo .customerInfoPanel{
    margin-top:10px;
    padding: 20px;
}

.customerGroupsPanel {
    margin:10px 10px;
}

.tiles-heading,
.tiles-body,
.tiles-footer {
    -webkit-transition: 0.05s ease-in;
    -o-transition: 0.05s ease-in;
    transition: 0.05s ease-in;
}

.info-tiles {
    margin: 0px 0px 20px;
    display: block;
    border-radius: 3px;
}

a.info-tiles {
    text-decoration: none;
    cursor: pointer;
    background: none;
}

.info-tiles .tiles-heading {
    letter-spacing: 0.1em;
    padding: 6px 10px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    text-align: center;
    font-size: 12px;
}

.info-tiles .tiles-heading .pull-right .sparkline-block {
    font-size: 0;
    padding: 2px 0;
}
.info-tiles .tiles-body {
    font-size: 14px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.info-tiles .tiles-body .text-centered {
    position: relative;
    text-align: center;
}

@media (max-width: 768px) {
    .info-tiles .tiles-body form {
        padding:10px;
    }
}


.info-tiles.has-footer .tiles-body {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.info-tiles .tiles-footer {
    color: #fff;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.4);
    padding: 6px 10px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.info-tiles.shortcut-tiles .tiles-body {
    padding: 5px 10px 5px 10px;
    font-size: 14px;
    line-height: 35px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.info-tiles.tiles-default {
    color: #333 !important;
    border: 0;
    box-shadow: 0 4px 8px rgba(0,0,0,.12),0 4px 8px rgba(0,0,0,.12);
}
.info-tiles.tiles-default .tiles-heading {
    background-color: #f5f5f5;
    border-color: #ddd;
}
.info-tiles.tiles-default .tiles-body {
    border-color: #ddd;
    background-color: #fff;
}
.info-tiles.tiles-default .tiles-body-alt {
    background: #3bbfb4;
}
.info-tiles.tiles-info {
    color: #ffffff !important;
}
.info-tiles.tiles-info .tiles-heading {
    background: #58cbc2;
}
.info-tiles.tiles-info .tiles-body {
    background: #3bbfb4;
}
.info-tiles.tiles-info .tiles-body-alt {
    background: #3bbfb4;
}
.info-tiles.tiles-info .tiles-footer {
    background: #36afa5;
}
.info-tiles.tiles-info:hover {
    color: #ffffff;
}
.info-tiles.tiles-info:hover .tiles-heading {
    background: #40c4b9;
}
.info-tiles.tiles-info:hover .tiles-body {
    background: #35aca2;
}
.info-tiles.tiles-info:hover .tiles-body-alt {
    background: #35aca2;
}
.info-tiles.tiles-info:hover .tiles-footer {
    background: #309c93;
}
.info-tiles.tiles-success {
    color: #ffffff !important;
}
.info-tiles.tiles-success .tiles-heading {
    background: #4cd787;
}
.info-tiles.tiles-success .tiles-body {
    background: #2ecc71;
}
.info-tiles.tiles-success .tiles-body-alt {
    background: #2ecc71;
}
.info-tiles.tiles-success .tiles-footer {
    background: #2abb68;
}
.info-tiles.tiles-success:hover {
    color: #ffffff;
}
.info-tiles.tiles-success:hover .tiles-heading {
    background: #33d176;
}
.info-tiles.tiles-success:hover .tiles-body {
    background: #29b765;
}
.info-tiles.tiles-success:hover .tiles-body-alt {
    background: #29b765;
}
.info-tiles.tiles-success:hover .tiles-footer {
    background: #26a75c;
}
.info-tiles.tiles-danger {
    color: #ffffff !important;
}
.info-tiles.tiles-danger .tiles-heading {
    background: #eb6d60;
}
.info-tiles.tiles-danger .tiles-body {
    background: #e74c3c;
}
.info-tiles.tiles-danger .tiles-body-alt {
    background: #e74c3c;
}
.info-tiles.tiles-danger .tiles-footer {
    background: #e53b2a;
}
.info-tiles.tiles-danger:hover {
    color: #ffffff;
}
.info-tiles.tiles-danger:hover .tiles-heading {
    background: #e85445;
}
.info-tiles.tiles-danger:hover .tiles-body {
    background: #e43725;
}
.info-tiles.tiles-danger:hover .tiles-body-alt {
    background: #e43725;
}
.info-tiles.tiles-danger:hover .tiles-footer {
    background: #da2d1b;
}
.info-tiles.tiles-warning {
    color: #ffffff !important;
}
.info-tiles.tiles-warning .tiles-heading {
    background: #f3cd36;
}
.info-tiles.tiles-warning .tiles-body {
    background: #f1c40f;
}
.info-tiles.tiles-warning .tiles-body-alt {
    background: #f1c40f;
}
.info-tiles.tiles-warning .tiles-footer {
    background: #dfb50d;
}
.info-tiles.tiles-warning:hover {
    color: #ffffff;
}
.info-tiles.tiles-warning:hover .tiles-heading {
    background: #f2c619;
}
.info-tiles.tiles-warning:hover .tiles-body {
    background: #dab10d;
}
.info-tiles.tiles-warning:hover .tiles-body-alt {
    background: #dab10d;
}
.info-tiles.tiles-warning:hover .tiles-footer {
    background: #c7a10c;
}
.info-tiles.tiles-primary {
    color: #ffffff !important;
}
.info-tiles.tiles-primary .tiles-heading {
    background: #57aae1;
}
.info-tiles.tiles-primary .tiles-body {
    background: #3498db;
}
.info-tiles.tiles-primary .tiles-body-alt {
    background: #3498db;
}
.info-tiles.tiles-primary .tiles-footer {
    background: #268fd5;
}
.info-tiles.tiles-primary:hover {
    color: #ffffff;
}
.info-tiles.tiles-primary:hover .tiles-heading {
    background: #3d9cdd;
}
.info-tiles.tiles-primary:hover .tiles-body {
    background: #258cd1;
}
.info-tiles.tiles-primary:hover .tiles-body-alt {
    background: #258cd1;
}
.info-tiles.tiles-primary:hover .tiles-footer {
    background: #2280bf;
}
.info-tiles.tiles-inverse {
    color: #ffffff !important;
}
.info-tiles.tiles-inverse .tiles-heading {
    background: #abb8b9;
}
.info-tiles.tiles-inverse .tiles-body {
    background: #95a5a6;
}
.info-tiles.tiles-inverse .tiles-body-alt {
    background: #95a5a6;
}
.info-tiles.tiles-inverse .tiles-footer {
    background: #8a9c9d;
}
.info-tiles.tiles-inverse:hover {
    color: #ffffff;
}
.info-tiles.tiles-inverse:hover .tiles-heading {
    background: #9baaab;
}
.info-tiles.tiles-inverse:hover .tiles-body {
    background: #87999a;
}
.info-tiles.tiles-inverse:hover .tiles-body-alt {
    background: #87999a;
}
.info-tiles.tiles-inverse:hover .tiles-footer {
    background: #7c9091;
}
.info-tiles.tiles-midnightblue {
    color: #ffffff !important;
}
.info-tiles.tiles-midnightblue .tiles-heading {
    background: #435d78;
}
.info-tiles.tiles-midnightblue .tiles-body {
    background: #34495e;
}
.info-tiles.tiles-midnightblue .tiles-body-alt {
    background: #34495e;
}
.info-tiles.tiles-midnightblue .tiles-footer {
    background: #2d3f51;
}
.info-tiles.tiles-midnightblue:hover {
    color: #ffffff;
}
.info-tiles.tiles-midnightblue:hover .tiles-heading {
    background: #384e65;
}
.info-tiles.tiles-midnightblue:hover .tiles-body {
    background: #2b3c4e;
}
.info-tiles.tiles-midnightblue:hover .tiles-body-alt {
    background: #2b3c4e;
}
.info-tiles.tiles-midnightblue:hover .tiles-footer {
    background: #243240;
}
.info-tiles.tiles-sky {
    color: #ffffff !important;
}
.info-tiles.tiles-sky .tiles-heading {
    background: #a4d4ed;
}
.info-tiles.tiles-sky .tiles-body {
    background: #82c4e6;
}
.info-tiles.tiles-sky .tiles-body-alt {
    background: #82c4e6;
}
.info-tiles.tiles-sky .tiles-footer {
    background: #71bce3;
}
.info-tiles.tiles-sky:hover {
    color: #ffffff;
}
.info-tiles.tiles-sky:hover .tiles-heading {
    background: #8ac8e8;
}
.info-tiles.tiles-sky:hover .tiles-body {
    background: #6dbae2;
}
.info-tiles.tiles-sky:hover .tiles-body-alt {
    background: #6dbae2;
}
.info-tiles.tiles-sky:hover .tiles-footer {
    background: #5cb2de;
}
.info-tiles.tiles-orange {
    color: #ffffff !important;
}
.info-tiles.tiles-orange .tiles-heading {
    background: #ea9347;
}
.info-tiles.tiles-orange .tiles-body {
    background: #e67e22;
}
.info-tiles.tiles-orange .tiles-body-alt {
    background: #e67e22;
}
.info-tiles.tiles-orange .tiles-footer {
    background: #db7419;
}
.info-tiles.tiles-orange:hover {
    color: #ffffff;
}
.info-tiles.tiles-orange:hover .tiles-heading {
    background: #e7832b;
}
.info-tiles.tiles-orange:hover .tiles-body {
    background: #d67118;
}
.info-tiles.tiles-orange:hover .tiles-body-alt {
    background: #d67118;
}
.info-tiles.tiles-orange:hover .tiles-footer {
    background: #c46816;
}
.info-tiles.tiles-indigo {
    color: #ffffff !important;
}
.info-tiles.tiles-indigo .tiles-heading {
    background: #9180c8;
}
.info-tiles.tiles-indigo .tiles-body {
    background: #7863bc;
}
.info-tiles.tiles-indigo .tiles-body-alt {
    background: #7863bc;
}
.info-tiles.tiles-indigo .tiles-footer {
    background: #6c55b6;
}
.info-tiles.tiles-indigo:hover {
    color: #ffffff;
}
.info-tiles.tiles-indigo:hover .tiles-heading {
    background: #7e6abf;
}
.info-tiles.tiles-indigo:hover .tiles-body {
    background: #6951b4;
}
.info-tiles.tiles-indigo:hover .tiles-body-alt {
    background: #6951b4;
}
.info-tiles.tiles-indigo:hover .tiles-footer {
    background: #5f48a9;
}
.info-tiles.tiles-green {
    color: #ffffff !important;
}
.info-tiles.tiles-green .tiles-heading {
    background: #52cda0;
}
.info-tiles.tiles-green .tiles-body {
    background: #37bf8d;
}
.info-tiles.tiles-green .tiles-body-alt {
    background: #37bf8d;
}
.info-tiles.tiles-green .tiles-footer {
    background: #32af81;
}
.info-tiles.tiles-green:hover {
    color: #ffffff;
}
.info-tiles.tiles-green:hover .tiles-heading {
    background: #3ac693;
}
.info-tiles.tiles-green:hover .tiles-body {
    background: #31ab7e;
}
.info-tiles.tiles-green:hover .tiles-body-alt {
    background: #31ab7e;
}
.info-tiles.tiles-green:hover .tiles-footer {
    background: #2d9b73;
}
.info-tiles.tiles-blue {
    color: #ffffff !important;
}
.info-tiles.tiles-blue .tiles-heading {
    background: #72a7d3;
}
.info-tiles.tiles-blue .tiles-body {
    background: #5394c9;
}
.info-tiles.tiles-blue .tiles-body-alt {
    background: #5394c9;
}
.info-tiles.tiles-blue .tiles-footer {
    background: #438ac4;
}
.info-tiles.tiles-blue:hover {
    color: #ffffff;
}
.info-tiles.tiles-blue:hover .tiles-heading {
    background: #5b99cb;
}
.info-tiles.tiles-blue:hover .tiles-body {
    background: #4088c3;
}
.info-tiles.tiles-blue:hover .tiles-body-alt {
    background: #4088c3;
}
.info-tiles.tiles-blue:hover .tiles-footer {
    background: #397db5;
}
.info-tiles.tiles-magenta {
    color: #ffffff !important;
}
.info-tiles.tiles-magenta .tiles-heading {
    background: #eb6084;
}
.info-tiles.tiles-magenta .tiles-body {
    background: #e73c68;
}
.info-tiles.tiles-magenta .tiles-body-alt {
    background: #e73c68;
}
.info-tiles.tiles-magenta .tiles-footer {
    background: #e52a5a;
}
.info-tiles.tiles-magenta:hover {
    color: #ffffff;
}
.info-tiles.tiles-magenta:hover .tiles-heading {
    background: #e8456f;
}
.info-tiles.tiles-magenta:hover .tiles-body {
    background: #e42556;
}
.info-tiles.tiles-magenta:hover .tiles-body-alt {
    background: #e42556;
}
.info-tiles.tiles-magenta:hover .tiles-footer {
    background: #da1b4c;
}
.info-tiles.tiles-purple {
    color: #ffffff !important;
}
.info-tiles.tiles-purple .tiles-heading {
    background: #e667bb;
}
.info-tiles.tiles-purple .tiles-body {
    background: #e044ab;
}
.info-tiles.tiles-purple .tiles-body-alt {
    background: #e044ab;
}
.info-tiles.tiles-purple .tiles-footer {
    background: #dd33a3;
}
.info-tiles.tiles-purple:hover {
    color: #ffffff;
}
.info-tiles.tiles-purple:hover .tiles-heading {
    background: #e14daf;
}
.info-tiles.tiles-purple:hover .tiles-body {
    background: #dc2ea1;
}
.info-tiles.tiles-purple:hover .tiles-body-alt {
    background: #dc2ea1;
}
.info-tiles.tiles-purple:hover .tiles-footer {
    background: #d32397;
}
.info-tiles.tiles-brown {
    color: #ffffff !important;
}
.info-tiles.tiles-brown .tiles-heading {
    background: #d44e40;
}
.info-tiles.tiles-brown .tiles-body {
    background: #c0392b;
}
.info-tiles.tiles-brown .tiles-body-alt {
    background: #c0392b;
}
.info-tiles.tiles-brown .tiles-footer {
    background: #af3427;
}
.info-tiles.tiles-brown:hover {
    color: #ffffff;
}
.info-tiles.tiles-brown:hover .tiles-heading {
    background: #c83b2d;
}
.info-tiles.tiles-brown:hover .tiles-body {
    background: #ab3326;
}
.info-tiles.tiles-brown:hover .tiles-body-alt {
    background: #ab3326;
}
.info-tiles.tiles-brown:hover .tiles-footer {
    background: #9a2e23;
}
.info-tiles.tiles-grape {
    color: #ffffff !important;
}
.info-tiles.tiles-grape .tiles-heading {
    background: #919bad;
}
.info-tiles.tiles-grape .tiles-body {
    background: #7a869c;
}
.info-tiles.tiles-grape .tiles-body-alt {
    background: #7a869c;
}
.info-tiles.tiles-grape .tiles-footer {
    background: #6e7b93;
}
.info-tiles.tiles-grape:hover {
    color: #ffffff;
}
.info-tiles.tiles-grape:hover .tiles-heading {
    background: #808ba0;
}
.info-tiles.tiles-grape:hover .tiles-body {
    background: #6c7991;
}
.info-tiles.tiles-grape:hover .tiles-body-alt {
    background: #6c7991;
}
.info-tiles.tiles-grape:hover .tiles-footer {
    background: #636f85;
}
.info-tiles.tiles-toyo {
    color: #ffffff !important;
}
.info-tiles.tiles-toyo .tiles-heading {
    background: #677fa4;
}
.info-tiles.tiles-toyo .tiles-body {
    background: #556b8d;
}
.info-tiles.tiles-toyo .tiles-body-alt {
    background: #556b8d;
}
.info-tiles.tiles-toyo .tiles-footer {
    background: #4d6180;
}
.info-tiles.tiles-toyo:hover {
    color: #ffffff;
}
.info-tiles.tiles-toyo:hover .tiles-heading {
    background: #597093;
}
.info-tiles.tiles-toyo:hover .tiles-body {
    background: #4b5f7d;
}
.info-tiles.tiles-toyo:hover .tiles-body-alt {
    background: #4b5f7d;
}
.info-tiles.tiles-toyo:hover .tiles-footer {
    background: #445570;
}
.info-tiles.tiles-alizarin {
    color: #ffffff !important;
}
.info-tiles.tiles-alizarin .tiles-heading {
    background: #e98a72;
}
.info-tiles.tiles-alizarin .tiles-body {
    background: #e36d4f;
}
.info-tiles.tiles-alizarin .tiles-body-alt {
    background: #e36d4f;
}
.info-tiles.tiles-alizarin .tiles-footer {
    background: #e05e3d;
}
.info-tiles.tiles-alizarin:hover {
    color: #ffffff;
}
.info-tiles.tiles-alizarin:hover .tiles-heading {
    background: #e47458;
}
.info-tiles.tiles-alizarin:hover .tiles-body {
    background: #e05b39;
}
.info-tiles.tiles-alizarin:hover .tiles-body-alt {
    background: #e05b39;
}
.info-tiles.tiles-alizarin:hover .tiles-footer {
    background: #dd4c27;
}
.info-tiles.tiles-facebook {
    color: #ffffff !important;
}
.info-tiles.tiles-facebook .tiles-heading {
    background: #466ab5;
}
.info-tiles.tiles-facebook .tiles-body {
    background: #3b5998;
}
.info-tiles.tiles-facebook .tiles-body-alt {
    background: #3b5998;
}
.info-tiles.tiles-facebook .tiles-footer {
    background: #355089;
}
.info-tiles.tiles-facebook:hover {
    color: #ffffff;
}
.info-tiles.tiles-facebook:hover .tiles-heading {
    background: #3e5d9f;
}
.info-tiles.tiles-facebook:hover .tiles-body {
    background: #344e86;
}
.info-tiles.tiles-facebook:hover .tiles-body-alt {
    background: #344e86;
}
.info-tiles.tiles-facebook:hover .tiles-footer {
    background: #2e4677;
}
.info-tiles.tiles-twitter {
    color: #ffffff !important;
}
.info-tiles.tiles-twitter .tiles-heading {
    background: #17bfff;
}
.info-tiles.tiles-twitter .tiles-body {
    background: #00aced;
}
.info-tiles.tiles-twitter .tiles-body-alt {
    background: #00aced;
}
.info-tiles.tiles-twitter .tiles-footer {
    background: #009dd9;
}
.info-tiles.tiles-twitter:hover {
    color: #ffffff;
}
.info-tiles.tiles-twitter:hover .tiles-heading {
    background: #00b3f7;
}
.info-tiles.tiles-twitter:hover .tiles-body {
    background: #0099d4;
}
.info-tiles.tiles-twitter:hover .tiles-body-alt {
    background: #0099d4;
}
.info-tiles.tiles-twitter:hover .tiles-footer {
    background: #008bbf;
}
.info-tiles.tiles-dribbble {
    color: #ffffff !important;
}
.info-tiles.tiles-dribbble .tiles-heading {
    background: #ee71a1;
}
.info-tiles.tiles-dribbble .tiles-body {
    background: #ea4c89;
}
.info-tiles.tiles-dribbble .tiles-body-alt {
    background: #ea4c89;
}
.info-tiles.tiles-dribbble .tiles-footer {
    background: #e83a7d;
}
.info-tiles.tiles-dribbble:hover {
    color: #ffffff;
}
.info-tiles.tiles-dribbble:hover .tiles-heading {
    background: #eb558f;
}
.info-tiles.tiles-dribbble:hover .tiles-body {
    background: #e7357a;
}
.info-tiles.tiles-dribbble:hover .tiles-body-alt {
    background: #e7357a;
}
.info-tiles.tiles-dribbble:hover .tiles-footer {
    background: #e5236e;
}
.info-tiles.tiles-vimeo {
    color: #ffffff !important;
}
.info-tiles.tiles-vimeo .tiles-heading {
    background: #badc71;
}
.info-tiles.tiles-vimeo .tiles-body {
    background: #aad450;
}
.info-tiles.tiles-vimeo .tiles-body-alt {
    background: #aad450;
}
.info-tiles.tiles-vimeo .tiles-footer {
    background: #a2d040;
}
.info-tiles.tiles-vimeo:hover {
    color: #ffffff;
}
.info-tiles.tiles-vimeo:hover .tiles-heading {
    background: #aed658;
}
.info-tiles.tiles-vimeo:hover .tiles-body {
    background: #a0cf3c;
}
.info-tiles.tiles-vimeo:hover .tiles-body-alt {
    background: #a0cf3c;
}
.info-tiles.tiles-vimeo:hover .tiles-footer {
    background: #96c631;
}

.info-tiles.has-pie.tiles-info:hover .tiles-heading {
    background: #58cbc2;
}

.info-tiles.has-pie.tiles-info:hover .tiles-body {
    background: #3bbfb4;
}

.pdfViewContainer {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    top: 32px;
    right: 0;
    bottom: 0;
    left: 0;
    outline: none;
    background: #474747;
}

.pdfViewToolbar{
    height: 36px;
    position:fixed;
    top:45px;
    right: 0;
    left: 0;
    background: #474747;
    color:#fff;
    z-index:100;
    box-shadow: inset 1px 0 0 hsla(0,0%,100%,.08),
    inset 0 1px 1px hsla(0,0%,0%,.15),
    inset 0 -1px 0 hsla(0,0%,100%,.05),
    0 1px 0 hsla(0,0%,0%,.15),
    0 1px 1px hsla(0,0%,0%,.1);
}

@media (max-width: 767px) {
    .pdfViewToolbar{
        top:91px;
    }
}

.pdfViewToolbarBtn{
    list-style:none;
    position: relative;
    padding-left: 0;
    float:left;
}

.pdfViewToolbarBtn .rotate{
    display:none;
}

.pdfViewToolbarBtnCenter{
    list-style:none;
    position: relative;
    float:right;
    right: 10%;
}

@media (min-width: 768px) {
    .pdfViewToolbarBtnCenter{
        right: 50%;
    }
    .pdfViewToolbarBtn .rotate{
        display:block;
    }

}

.pdfViewToolbarBtn > li,
.pdfViewToolbarBtnCenter > li{
    float: left;
}

.pdfViewToolbarBtn > li > a,
.pdfViewToolbarBtnCenter > li > a{
    min-width: 36px;
    text-align: center;
    display: inline-block;
    line-height: 36px;
    color: hsl(0,0%,95%);
    border-left: 1px solid hsla(0,0%,0%,.2);
}

.pdfViewToolbarBtn > li > a,
.pdfViewToolbarBtnCenter > li > a:last-child{
    border-right: 1px solid hsla(0,0%,0%,.2);
}

.pageNum {
    line-height: 36px;
}

.currNumPage {
    padding: 3px 6px;
    margin: 4px 0 4px 10px;
    border: 1px solid transparent;
    border-radius: 2px;
    background-color: hsla(0,0%,100%,.09);
    background-image: linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
    background-clip: padding-box;
    border: 1px solid hsla(0,0%,0%,.35);
    border-color: hsla(0,0%,0%,.32) hsla(0,0%,0%,.38) hsla(0,0%,0%,.42);
    box-shadow: 0 1px 0 hsla(0,0%,0%,.05) inset, 0 1px 0 hsla(0,0%,100%,.05);
    color: hsl(0,0%,95%);
    font-size: 12px;
    line-height: 14px;
    min-width: 16px;
    text-align: right;
    width: 40px;
    outline-style: none;
    transition-property: background-color, border-color, box-shadow;
    transition-duration: 150ms;
    transition-timing-function: ease;
}

.pdfViewer {
    width:100%;
    height:100%;
    margin-top: 40px;
}

.pdfCanvas {
    margin:0 auto;
    border: 9px solid transparent;
}

.pdfCanvas.rotate0 { transform: rotate(0deg); -webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);}
.pdfCanvas.rotate90 { transform: rotate(90deg); -webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);}
.pdfCanvas.rotate180 { transform: rotate(180deg);-webkit-transform: rotate(180deg); -moz-transform: rotate(180deg);}
.pdfCanvas.rotate270 { transform: rotate(270deg);-webkit-transform: rotate(270deg);-moz-transform: rotate(270deg); }

.cusFilePanelTable{
    margin-top: 10px;
    padding: 0 10px;
}
.cusFilePanel > .subPanelToolbar {
    border-bottom: 1px solid transparent;
    border-color: #ddd;
}

.cusFilePanelTable .panel-body > a{
    color:#333;
    text-decoration: none;
}

.checkServicePanel > .checkServiceToolbar {
    height: 36px;
    background-color: #fafafa;
    padding:0;
}

.checkServicePanel > .checkServiceToolbar > ul {
    list-style: none;
    position: relative;
    margin-bottom: 0;
    padding-left:0;
}

.checkServicePanel > .checkServiceToolbar > ul > li{
    float: left;
}

.checkServicePanel > .checkServiceToolbar > li {
    float: left;
    list-style: none;
    display: block;
    padding-right:15px;
}

.checkServicePanel > .checkServiceToolbar .btn-header > a {
    min-width: 36px;
    text-align: center;
    display: inline-block;
    line-height: 36px;
    color: #777;
    border-right: 1px solid rgba(0,0,0,.09);
}

.checkServicePanel > .checkServiceToolbar .btn-header > a:hover{
    background-color: rgba(0,0,0,.05);
}

.checkServicePanel .carousel-inner img{
    width:100%;
    height:100%;
    margin:0 auto;
    background: #474747;
}

.checkServicePanel .carousel-caption {
    top: 15px;
    bottom: auto;
    color: #585858;
}

.checkServicePanel .carousel-indicators li {
    border: 1px solid #585858;
}

.checkServicePanel .carousel-indicators .active{
    background-color: #585858;
}

.carousel-indicators {
    top: 15px;
    bottom: auto;
}

.customerTopo .subPanelToolbar {
    height: 36px;
    background-color: #fafafa;
    padding:0;
}

.customerTopo .subPanelToolbar > ul {
    list-style: none;
    position: relative;
    margin-bottom: 0;
    padding-left:0;
}

.customerTopo .subPanelToolbar > ul > li{
    float: left;
}

.customerTopo .subPanelToolbar > li {
    float: left;
    list-style: none;
    display: block;
    padding-right:15px;
}

.customerTopo .subPanelToolbar .btn-header > a {
    min-width: 36px;
    text-align: center;
    display: inline-block;
    line-height: 36px;
    color: #777;
    border-right: 1px solid rgba(0,0,0,.09);
}

.customerTopo .subPanelToolbar .btn-header > a:hover{
    background-color: rgba(0,0,0,.05);
}

.cusGroupSlaDonut,
.cusGroupSlaDoc,
.customerGroupBizStatus{
    border-top: 1px solid transparent;
    border-color: #ddd;
}

.customerGroupBizStatusBody{
    margin: 10px;
}

.customerGroupBizStatusBody .panel{
    border: 0;
    box-shadow: 0 1px 6px rgba(0,0,0,.12),0 1px 6px rgba(0,0,0,.12);
}

.bizStatusCircuitDonut{
    margin-top: 10px;
}

.bizStatusTopo {
    position: absolute;
    top: 36px;
    bottom: 0;
    width: 100%;
}

.customerTopo .customerGroupSlaPanel .subPanelToolbar .btn-header > a {
    color: #777;
    border-left: 1px solid rgba(0,0,0,.09);
    border-right:none;
}

.slaQueryPanel{
    position:absolute;
    top: 0;
    height: 100%;
    right: 0px;
    padding: 10px 20px;
    display: none;
    width: 310px;
    -webkit-transform: translateX(310px);
    -moz-transform: translateX(310px);
    transform: translateX(310px);
    -webkit-transition: -webkit-transform 0.05s ease-in-out;
    -moz-transition: -moz-transform 0.05s ease-in-out;
    transition: transform 0.05s ease-in-out;
}

.slaQueryPanel:after {
    content:"";
    background: #ddd;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    height: 610px;
    width: 1px;
}

.slaQueryPanel.open {
    display: block;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
}

.customerGroupSlaPanel.searchOpen {
    border-right:none;
    -webkit-transform: translateX(-310px);
    -moz-transform: translateX(-310px);
    transform: translateX(-310px);
}