<nav id="top-navbar" class="fixed" ng-controller="topNavCtrl">
    <div class="top-navbar-header">
        <a href="#/" class="top-navbar-brand">
            <small>NetCare</small>
        </a>
    </div>
    <div class="top-navbar-wrapper">
        <ul class="top-nav top-navbar-nav">
            <li class="sidebar-toggle" ng-click="openMenu($event)">
                <a class="hidden-xs" href="">
                    <i class="fa fa-bars"></i>
                </a>
                <a class="visual-xs" href="">
                    <i class="fa fa-bars"></i>
                </a>
            </li>
            <li ng-click="clickDropdownMenu($event)">
                <a href="">
                    <i class="fa fa-list"></i>
                </a>
                <div class="dropdown-menu shortcut-menu widget-notifications fadeInUp">
                    <div class="notifications-list">
                        <div class="dropdown-header"><i class="fa fa-tasks"></i>快捷菜单</div>
                        <div class="notification" ng-repeat="shortcutMenu in shortcutMenus track by shortcutMenu.id">
                            <div class="notification-description" ng-click="clickShortcutMenu(shortcutMenu)">{{shortcutMenu.name}}</div>
                        </div>
                    </div>
                </div>
            </li>
            <li ng-click="lock()">
                <a href="">
                    <i class="fa fa-lock"></i>
                </a>
            </li>
        </ul>
        <ul class="top-nav top-navbar-nav pull-right">
            <li ng-click="clickShellSearch(true)">
                <a href="">
                    <i class="fa fa-search"></i>
                </a>
            </li>
            <li ng-click="clickDropdownMenu($event)">
                <a href="">
                    <i class="label fa fa-times" ng-show="!websocketStatus"></i>
                    <i class="fa fa-life-ring"></i>
                </a>

                <div class="dropdown-menu widget-notifications fadeInUp">
                    <div class="notifications-list">
                        <div class="notification" ng-repeat="fault in faults track by fault.id">
                            <div class="notification-title text-danger">{{fault.no}}</div>
                            <div class="notification-description">{{fault.customerGroupInfo}}</div>
                            <div class="notification-ago">{{fault.meCreateTime | date:"yyyy-MM-dd HH:mm:ss"}}</div>
                            <div class="notification-icon  fa fa-lightbulb-o bg-info"
                                 ng-class="{'bg-danger':fault.faultAck,'bg-info':!fault.faultAck}"></div>
                        </div>
                    </div>
                    <a href="#" class="notifications-link">更多故障信息</a>
                </div>
            </li>
            <li ng-click="clickOffSidebar($event)">
                <a href="">
                    <i class="fa fa-columns"></i>
                </a>
            </li>
        </ul>
    </div>
    <form role="form" class="navbar-form" ng-controller="shellSearchCtrl"
          ng-class="{'open':openShellSearch}" ng-submit="submit()">
        <div class="form-group">
            <input type="text" class="form-control" id="shellSearchText" ng-model="shellSearchText"
                   placeholder="输入客户名称或电路编码">

            <div class="fa fa-times form-control-feedback" ng-click="clickShellSearch(false)"></div>
        </div>
    </form>
</nav>