<div class="portal" ng-controller="portalCtrl">
    <div class="row">
        <div class="col-md-6"
             ng-class="{'widget-focus-enabled':focusEnabled.customerInfo}">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-toolbar">
                        <a href="" ng-click="setFocusOverlay('customerInfo')">
                            <i class="fa fa-eye" ng-hide="focusEnabled.eyeSlash"></i>
                            <i class="fa fa-eye fa-eye-slash" ng-show="focusEnabled.eyeSlash"></i>
                        </a>
                        <a href="" ng-click="loadingCustomerInfo()">
                            <i class="fa fa-refresh"></i>
                        </a>
                    </div>
                    <h5 class="panel-title">
                        <small>客户统计</small>
                    </h5>
                </div>
                <div class="panel-body">
                    <div hc-pie id="customerInfoPie" height="248" items="customerInfoData"></div>
                    <div ui-reloading reloading-model="reloading.customerInfo"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6"
             ng-class="{'widget-focus-enabled':focusEnabled.circuitStatus}">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-toolbar">
                        <a href="" data-action="close" ng-click="setFocusOverlay('circuitStatus')">
                            <i class="fa fa-eye" ng-hide="focusEnabled.eyeSlash"></i>
                            <i class="fa fa-eye fa-eye-slash" ng-show="focusEnabled.eyeSlash"></i>
                        </a>
                        <a href="" ng-click="loadingCircuitStatus()">
                            <i class="fa fa-refresh"></i>
                        </a>
                    </div>
                    <h5 class="panel-title">
                        <small>电路状态统计</small>
                    </h5>
                </div>
                <div class="panel-body">
                    <div hc-pie id="circuitStatusPie" height="248" items="circuitStatus"></div>
                    <div ui-reloading reloading-model="reloading.circuitStatus"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12"
                     ng-class="{'widget-focus-enabled':focusEnabled.customerCircuit}">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-toolbar">
                                <a href="" ng-click="setFocusOverlay('customerCircuit')">
                                    <i class="fa fa-eye" ng-hide="focusEnabled.eyeSlash"></i>
                                    <i class="fa fa-eye fa-eye-slash" ng-show="focusEnabled.eyeSlash"></i>
                                </a>
                                <a href="" ng-click="loadingCustomerCircuit()">
                                    <i class="fa fa-refresh"></i>
                                </a>
                                <a href="" ng-click="closeWidget('customerCircuit')">
                                    <i class="fa fa-chevron-up" ng-show="widgetShow.customerCircuit"></i>
                                    <i class="fa fa-chevron-down" ng-show="!widgetShow.customerCircuit"></i>
                                </a>
                            </div>
                            <h5 class="panel-title">
                                <small>电路状态统计</small>
                            </h5>
                        </div>
                        <div class="panel-body" ng-show="widgetShow.customerCircuit">
                            <div hc-column id="customerCircuitColumn" name="电路数" height="248"
                                 items="customerCircuit"></div>
                            <div ui-reloading reloading-model="reloading.customerCircuit"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12"
                     ng-class="{'widget-focus-enabled':focusEnabled.sla}">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-toolbar">
                                <a href="" ng-click="setFocusOverlay('sla')">
                                    <i class="fa fa-eye" ng-hide="focusEnabled.eyeSlash"></i>
                                    <i class="fa fa-eye fa-eye-slash" ng-show="focusEnabled.eyeSlash"></i>
                                </a>
                                <a href="" ng-click="loadingSla()">
                                    <i class="fa fa-refresh"></i>
                                </a>
                                <a href="" ng-click="closeWidget('sla')">
                                    <i class="fa fa-chevron-up" ng-show="widgetShow.sla"></i>
                                    <i class="fa fa-chevron-down" ng-show="!widgetShow.sla"></i>
                                </a>
                            </div>
                            <h5 class="panel-title">
                                <small>SLA统计</small>
                            </h5>
                        </div>
                        <div class="panel-body" ng-show="widgetShow.sla">
                            <div hc-column id="slaColumn" name="电路可用率" height="248" items="sla"></div>
                            <div ui-reloading reloading-model="reloading.sla"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-toolbar">
                        <a href="" ng-click="closeWidget('circuitVitalMonitor')">
                            <i class="fa fa-chevron-up" ng-show="widgetShow.circuitVitalMonitor"></i>
                            <i class="fa fa-chevron-down" ng-show="!widgetShow.circuitVitalMonitor"></i>
                        </a>
                    </div>
                    <div class="panel-title"><small>重保任务</small></div>
                </div>
                <!-- START list group-->
                <div class="list-group" ng-show="widgetShow.circuitVitalMonitor">
                    <!-- START list group item-->
                    <div class="list-group-item" ng-repeat="cusVital in cusVitalCirMonitors">
                        <div class="cusVital">
                            <div class="pull-left cusVital-status">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x" ng-class="{'text-info':cusVital.status,'text-danger':!cusVital.status}"></i>
                                    <i class="fa fa-check fa-stack-1x fa-inverse" ng-show="cusVital.status"></i>
                                    <i class="fa fa-times fa-stack-1x fa-inverse" ng-hide="cusVital.status"></i>
                                </span>
                            </div>
                            <div class="cusVital-info">
                                <small class="cusVital-cirNum pull-right">{{cusVital.circuitNum}}</small>
                                <div class="cusVital-name">{{cusVital.name}}</div>
                                <div class="cusVital-time"><small>{{cusVital.beginTime}}&nbsp;&nbsp;-&nbsp;&nbsp;{{cusVital.endTime}}</small></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- START panel footer-->
                <div class="panel-footer clearfix">
                    <a href="" class="cusVital-link">
                        <small>查看详情</small>
                    </a>
                </div>
                <!-- END panel-footer-->
            </div>
        </div>
    </div>
</div>