<div class="circuitMgmt-panel" ng-controller="circuitMgmtCtrl">
    <div class="panel panel-default" ng-class="{'hideBottomBorder':!circuits.length,'searchOpen':queryPanelOpen}">
        <div class="panel-heading clearfix">
            <h4 class="panel-title pull-left">
                <small></small>
            </h4>
            <ul class="pull-right">
                <li class="btn-header">
                    <a href="" ng-click="showAll()">
                        <i class="fa fa-arrows"></i>
                    </a>
                </li>
                <li class="btn-header">
                    <a href="" ng-click="triggerQueryPanel()">
                        <i class="fa fa-search"></i>
                    </a>
                </li>
            </ul>
        </div>
        <table class="table table-bordered table-hover" ng-footable>
            <thead>
            <th data-sort="no" data-toggle="true">电路编码</th>
            <th data-sort="fault" class="text-center">状态</th>
            <th data-hide="phone" class="text-center">速率</th>
            <th data-sort="bizStatus" data-hide="phone" class="text-center">业务状态</th>
            <th data-hide="phone" class="text-center">资源状态</th>
            <th data-sort="serviceType" data-hide="phone" class="text-center">业务类型</th>
            <th data-hide="all">Ａ端网元</th>
            <th data-hide="all">Ａ端端口</th>
            <th data-hide="all">Ｚ端网元</th>
            <th data-hide="all">Ｚ端端口</th>
            <th data-hide="all" class="text-center">长途编码</th>
            <th data-hide="all" class="text-center">客户名称</th>
            <th data-noexpand="true" data-hide="phone,tablet"></th>
            </thead>
            <tbody>
            <tr ng-repeat-start="circuit in circuits | orderBy:sort:reverse" ng-show="circuits.length">
                <td>{{circuit.no}}</td>
                <td class="text-center"><span class="label" ng-class="circuit.fault?'label-danger':'label-info'">{{circuit.fault | circuitFaultFilter}}</span>
                </td>
                <td class="text-center">{{circuit.resRate}}</td>
                <td class="text-center">{{circuit.bizStatus}}</td>
                <td class="text-center">{{circuit.resStatus}}</td>
                <td class="text-center">{{circuit.serviceType}}</td>
                <td class="text-center">{{circuit.aMe}}</td>
                <td class="text-center">{{circuit.zMe}}</td>
                <td class="text-center">{{circuit.aPort}}</td>
                <td class="text-center">{{circuit.zPort}}</td>
                <td class="text-center">{{circuit.groupNo}}</td>
                <td class="text-center">{{circuit.customer}}</td>
                <td class="text-center">
                    <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-primary" ng-click="showTextRoute($event,circuit)"><i class="fa fa-info"></i></button>
                        <button type="button" class="btn btn-primary" ng-click="showRoute($event,circuit)"><i class="fa fa-sitemap"></i></button>
                        <button type="button" class="btn btn-primary" ng-click="showFault($event,circuit)"><i class="fa fa-bolt"></i></button>
                    </div>
                </td>
            </tr>
            <tr class="items-null" ng-show="!circuits.length">
                <td align="center" colspan="{{$columns.length}}">无记录</td>
            </tr>
            </tbody>
            <tfoot>
            <tr ng-show="pagination.itemSize > 0">
                <td class="text-center" colspan="{{($columns|filter:{show:true}).length}}">
                    <ng-footable-pagination
                            class="ng-footable-pagination"
                            item-size="pagination.itemSize"
                            page-num="pagination.pageNumber"
                            current-page="pagination.currentPage"
                            on-select-page="selectPage(page)">
                    </ng-footable-pagination>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
    <aside class="queryPanel" ng-class="{'open':queryPanelOpen}">
        <form role="form">
            <div class="form-group">
                <label for="cirMgmt_circuitNo">电路编码</label>
                <input type="text" class="form-control" id="cirMgmt_circuitNo" placeholder="01T000789" ng-model="cirQueryCommand.circuitNo">
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-6">
                        <span>客户信息</span>
                    </div>
                </div>
                <ui-select multiple ng-model="cirQueryCommand.customerGroups" theme="select2" class="form-control">
                    <ui-select-match placeholder="客户信息...">{{$item.name}}</ui-select-match>
                    <ui-select-choices
                            repeat="customerGroup in customerGroupsModel track by $index | filter: $select.search"
                            refresh="refreshCustomerGroups($select.search)"
                            refresh-delay="0">
                        {{customerGroup.name}}
                    </ui-select-choices>
                </ui-select>
            </div>
            <div>
                <label>
                    <span class="name">故障电路</span>
                    <div ui-footable-checkbox check-model="cirQueryCommand.isFault"></div>
                </label>
            </div>
            <hr>
            <div class="moreOptions">
                <a href="" ng-click="triggerQueryPanelMore()">
                    <i class="fa fa-angle-down" ng-hide="queryPanelMoreOpen"></i>
                    <i class="fa fa-angle-up" ng-show="queryPanelMoreOpen"></i>
                </a>

                <div class="morePanel" ng-show="queryPanelMoreOpen">
                    <div class="form-group">
                        <label for="cirMgmt_groupNo">长途编码</label>
                        <input type="text" class="form-control" id="cirMgmt_groupNo" ng-model="cirQueryCommand.cirGroupNo">
                    </div>
                    <div class="form-group">
                        <label for="cirMgmt_bizStatus">业务状态</label>
                        <select class="form-control" id="cirMgmt_bizStatus"
                                ng-model="cirQueryCommand.cirBizStatus"
                                ng-options="cirBizStatus.name for cirBizStatus in cirBizStatuses">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="cirMgmt_bizRate">电路速率</label>
                        <input type="text" class="form-control" id="cirMgmt_bizRate" placeholder="2M" ng-model="cirQueryCommand.cirBizRate">
                    </div>
                    <hr>
                    <div class="form-group">
                        <label for="cirMgmt_pageSize">记录数</label>
                        <select class="form-control" id="cirMgmt_pageSize"
                                ng-model="cirQueryCommand.cirTablePageSize"
                                ng-init="cirQueryCommand.cirTablePageSize = 20"
                                ng-options="tableSize for tableSize in [10,20,30,50,100]">
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-5 col-xs-offset-3">
                    <button class="btn btn-default" btn-loading="is_loading" data-loading-text="查询中..."
                            ng-click="queryCircuit()">&nbsp;&nbsp;&nbsp;&nbsp;查询&nbsp;&nbsp;&nbsp;&nbsp;</button>
                </div>
            </div>
        </form>
    </aside>
</div>